@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap'); /*cambiar fuente*/


body {
    background-image: url(recursos/fondo.jpg);
    background-size: contain;
    background-attachment:scroll;
    margin: 40px;
}

#title {
   text-align: center;
   background-color: rgba(26, 87, 119, 1);
   margin: -40px;
}

.logo {
    padding-top: 25px;
    padding-bottom: 20px;
}


.contenido {
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 220px;   
    color:  rgba(26, 87, 119, 1);
    font-family: 'Hina Mincho', serif;
    font-size: 20px; 
}

.contenido h1 {
    font-size: 35px;
}

#context {
    width: 55%;
    padding-right: 30px;
    padding-left: 40px;
    text-align: justify;
}

#reference {
    width: 45%;
}

#video {
    width: 90%;
}

#secondpart {
  line-height: 15px;
  color: white;
  font-family: 'Hina Mincho', serif;
  font-size: 22px; 
}

#secondpart h1 {
    background-color: rgba(255, 196, 97, 1);
    color:  rgba(26, 87, 119, 1);
    padding: 1.5%;
}

#clave {
    padding-top: 1%;
}

.codigo {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#input1, #input2 {
    width: 50%;
}

#offset {
    border-color: rgba(255, 196, 97, 1);
}

#botones {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#mensaje1, #mensaje2 {
    width: 100%;
    height: 100%;
    font-family: 'Hina Mincho', serif;
    font-size: 20px; 
    border-color: rgba(255, 196, 97, 1);
}


.boton {
    background-color: transparent;
    border: none;
}

.imagenboton {
    padding: 10px;
    width: 50%;
}

footer {
    padding: 20px;
}
/* falta: ver los margenes, padding, colores, fuentes, tamaño de las letras, tamaños de los objetos */
