#context {
    display: inline-block;

    /* hay que revisar los margenes para que quede centrado :O */
}

#codigo {
    padding: 20px;
    width: 100px;
    display: inline-block;
}

#title {
    font-family: fantasy;
    color:coral;
}

#reference {
    display: inline-block;
}

#botones {
    padding: 10px;
    width: 175px;
    display: block;
}