

#title {
    font-family: fantasy;
    color:coral;
}

.image1 {
    max-width: 80%;
}

.contenido {
    display: flex;
    flex-direction: row;
    padding-right: 30px;
}

#reference {
    width: min-content;
    height: min-content;
}


body {
    margin:40px;
}


.codigo {
    display: flex;
    flex-direction: row;
}


#botones {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* falta: ver los margenes, padding, colores, fuentes, tamaño de las letras, tamaños de los objetos */
